# Hugo默认输出目录
/public/
/node_modules/
build.bat
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
add_url_md5.py

# Hugo的缓存目录
/.hugo_build.lock

# 操作系统文件
.DS_Store
Thumbs.db

# 编辑器/IDE配置文件
.idea/
.vscode/
*.swp
*.swo
*~


# 临时文件
*.log
*.bak
*.tmp
.env
.env.*

# 本地开发服务器文件
.netlify/ 